<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebdocOrder.Properties.Settings.wdintranetConnectionString" connectionString="Data Source=62.20.6.150;Initial Catalog=wdintranet;Persist Security Info=True;User ID=sa;Password=kaninbur" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
